{:source-paths ["src-cljs"]
 :builds
 {:package
  {:target :esm
   :output-dir "dist/cljs"
   :modules
   {:index
    {:exports
     {createAnimationRuntime embody.entry/create-animation-runtime
      createClipPlan embody.entry/create-clip-plan
      installEmbody embody.entry/install-embody}}}}}}
